---
layout: default
title: My Blog
description: I hope to blog about anything that interests me... Whether it's software development, gaming, tech & computing related; whether it's travel, drumming, music or finance & investing related I hope you will find something that interests or inspires you too!
---

<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.blog__settings.blog__title }}{% endif %}</h1>
        {% if page.description %}
          <p class="page-description">{{ page.description }}</p>
        {% else site.data.settings.blog__settings.blog__description %}
          <p class="page-description">{{ site.data.settings.blog__settings.blog__description }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container animate">
  <div class="row">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts offset:0 %}
        {% include article.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}